@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Fredoka+One|Gamja+Flower|Handlee|Indie+Flower|Great+Vibes&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececec;
}

main {
    background-color: #ececec;
    padding: 0;
}

/* ------------------- Work styling ------------------- */

.workSection {
    border: 1px solid;
    margin: 0;
    padding: 0;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

/* ------------------- /.workStyling ------------------- */


/* ------------------- Hero Image ------------------- */

#heroImage {
    height: 75vh;
    /* background-image: url("../media/images/greyHeader.jpg"); */
    background:linear-gradient(0deg, rgba(0, 153, 204, 0.5),rgba(0, 153, 204, 0.5)), url("../media/images/greyHeader.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#heroImageHeading {
    margin-top: 25vh;
    margin-left: 10vw;
    text-align: center;
    width: 550px;
    font-family: 'Great Vibes', cursive;
    font-size: 500%;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}

/* ------------------- /.heroImage ------------------- */


/* ------------------- Opt-in Box ------------------- */

#optinContainer {
    background-color: #0099cc;
}

#optinContainer div {
    min-height: 150px;
}

#optinImage {
    width: 225px;
    float: right;
    margin-top: 20px;
}

#optinContent {
    float: left;
}

#optinContent h4 {
    color: #ffffff;
    margin-top: 10px;
    text-shadow: 2px 2px #000000;
}

#optinContent p {
    color: #ffffff;
    font-style: italic;
}

#optinContent input {
    padding: 0.4em 0.8em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-sizing: border-box;
    width: 35%;
    max-width: 400px;
    display: inline-block;
    margin-bottom: 10px;
}

#optinContent button {
    padding: 0.4em 0.8em;
    border: 1px solid #11b837;
    border-radius: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
    background-color: #11b837;
    color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    vertical-align: middle;
    font-weight: bold;
    margin-bottom: 5px;
}

/* ------------------- /.optinBox ------------------- */


/* ------------------- Schedule ------------------- */

#scheduleContainer {
    margin-bottom: 30px;
}

.scheduleDayColumn {
    margin: 0 3px;
}

.scheduleDayColumn h5 {
    text-align: center;
    width: 100%;
    background-color: #0099cc;
    color: #ffffff;
    padding: 5px 0;
    font-family: 'Baloo Bhai', sans-serif;
    margin-bottom: 0;
}

.scheduleClass {
    height: 100px;
    margin: 3px 0;
}

.scheduleSpacer {
    background-color: #ececec;
}

#scheduleSpacerTuesday, #scheduleSpacerThursday {
    height: 197px;
}

#scheduleSpacerFriday {
    height: 203px;
}

.beginnerClass {
    background-color: #11b837;
}

.intermediateClass {
    background-color: #de9313;
    /* background-color: #ffff00; */
}

.advancedClass {
    background-color: #ff0000;
}

.dropinSocial {
    background-color: #c200c2;
    height: 300px;
}

.className {
    color: #ffffff;
    padding: 5px;
    display: block;
    font-weight: bold;
    font-size: 90%;
}

.classTime {
    color: #ffffff;
    display: block;
    font-size: 80%;
    padding: 5px;
}

/* ------------------- /.schedule ------------------- */


/* ------------------- Text Sections ------------------- */

.textSection {
    background-color: #ffffff;
}

.homepageListIcon {
    color:#0099cc;
    font-size: 24px;
}

.sectionHeading {
    color:#0099cc;
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-family: 'Baloo Bhai', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 1px 1px rgb(77, 76, 76);
}

.textSection p {
    margin: 0 40px 16px 40px;
}

.textSection p:last-of-type {
    margin-bottom: 30px;
}

.textSection ul {
    margin-left: 100px;
    margin-right: 100px;
}

.textSection li {
    margin-bottom: 16px;
}

/* ------------------- /.textSections ------------------- */


/* ------------------- What is Bachata ------------------- */

#whatIsBachata {
    /*background-image: url("../media/images/greyWhatBachata.jpg"); */
    background:linear-gradient(0deg, rgba(0, 153, 204, 0.5),rgba(0, 153, 204, 0.5)), url("../media/images/greyWhatBachata.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#whatIsBachataContent {
    background-color: white;
    margin: 30px 30px 30px 20px;
    min-width: 260px;
    border-radius: 5%;
}

#whatIsBachataContent h3 {
    text-align: center;
    margin: 30px 10px 0 10px;
    font-family: 'Baloo Bhai', sans-serif;
    text-decoration: underline;
}

#whatIsBachataContent p {
    margin: 20px;
}

#whatIsBachataContent p:last-of-type {
    margin-bottom: 30px;
}

/* ------------------- /.whatIsBachata ------------------- */



/* ------------------- Courses Sections ------------------- */

.coursesHeading {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}

.courseDescription {
    background-color: white;
    margin: 20px 20px 30px 20px;
    min-width: 260px;
    border-radius: 5%;
}

.courseDescription h5 {
    margin: 20px 10px 0 10px;
    text-decoration: underline;
    font-family: 'Baloo Bhai', sans-serif;
    text-align: center;
}

.courseDescription p {
    margin: 15px 10px 20px 10px;
}

.courseDescription p span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

#beginnerCourses {
    /* background-image: url("../media/images/greyBeginner.jpg"); */ 
    /*background:linear-gradient(0deg, rgba(17, 184, 55, 0.6), rgba(17, 184, 55, 0.6)), url("../media/images/greyBeginner.jpg");*/
    background:linear-gradient(0deg, rgba(0, 153, 204, 0.5),rgba(0, 153, 204, 0.5)), url("../media/images/greyBeginner.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#intermediateCourses {
    /* background-image: url("../media/images/greyIntermediate.jpg"); */ 
    /*background:linear-gradient(0deg, rgba(255, 255, 0, 0.5), rgba(255, 255, 0, 0.5)), url("../media/images/greyIntermediate.jpg");*/
    background:linear-gradient(0deg, rgba(0, 153, 204, 0.5),rgba(0, 153, 204, 0.5)), url("../media/images/greyIntermediate.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#advancedCourses {
    /* background-image: url("../media/images/greyAdvanced.jpg"); */ 
    /* background:linear-gradient(0deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url("../media/images/greyAdvanced.jpg"); */
    background:linear-gradient(0deg, rgba(0, 153, 204, 0.5),rgba(0, 153, 204, 0.5)), url("../media/images/greyAdvanced.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ------------------- /.courseSections ------------------- */


/* ------------------- Top Navigation ------------------- */

nav {
    background-color: #0099cc;
}

nav .navbar-nav li a {
  color: #ffffff !important;
}

.dropdown-menu {
    background-color: #0099cc;
}

.navbar-toggler {
  border-color: #ffffff !important;
}

#navIcon {
    color: #ffffff;
    font-size: 28px;
}

/* ------------------- /.topNavigation ------------------- */


/* ------------------- Footer ------------------- */

footer {
    background-color: #0099cc;
}

.footer-social-networks {
    text-align: center;
}

.footer-social-networks li {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

.footer-social-networks i {
    font-size: 160%;
    color: #ffffff;
}

/* ------------------- /.footer ------------------- */


/* ------------------- Sign Up Form ------------------- */

#signupContainer {
    /* background:linear-gradient(0deg, rgba(0, 153, 204, 0.5),rgba(0, 153, 204, 0.5)), url("../media/images/greySignup1.jpg"); */
    background-image: url("../media/images/greySignup1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#signupFormBox {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.8);
    padding: 30px;
}

#signupForm {
    margin-top: 35px;
}

#signupForm label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    padding:0;
}

#signupForm .text-input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 5px;
}

#signupForm input:hover, input:focus {
    border-color: #fff;
}

#signupForm legend{
    margin-bottom: 15px;
  }

.coursePreferences {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
}

.preferenceLabel{
    margin: 10 5 30 5;
  }

#signupFormButton {
    border-radius: 3px;
    color:#999999;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

/* ------------------- /.signupForm ------------------- */