html, body {
    margin: 0;
    padding: 0;
}

header {
    height: 300px;
}

/* ------------------- Top Navigation ------------------- */

nav {
    background-color: #0099cc;
}

nav .navbar-nav li a {
  color: #ffffff !important;
}

.dropdown-menu {
    background-color: #0099cc;
}

.navbar-toggler {
  border-color: #ffffff !important;
}

#navIcon {
    color: #ffffff;
    font-size: 28px;
}

/* ------------------- /.topNavigation ------------------- */


/* ------------------- Footer ------------------- */

footer {
    background-color: #0099cc;
}


.social-networks {
    text-align: center;
}

.social-networks li {
    margin: 20px 50px;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}

/* ------------------- /.footer ------------------- */
